h1{
	color:white; font:18pt verdana bold;text-align:center
}
body{
	background-color:navy;font-size:14pt;font-family:arial;color:lightBlue
	}
.botao{width:140px;height:50px;font-family:comic sans MS;}
